<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>My personal interests include:</p>
        <ul>
          <li>
            <b>Building website</b>. I've been an enthusiastic hobbiest since I
            first learned frameworks during my summer time. I like to work in
            the back-end to ultilize my knowledge of programming I learned in
            school with a litle bit of front-end using HTML/CSS and Javascript.
          </li>
          <li>
            <b>Machine learning</b>. It's an exciting time for machine learning.
            I have taken some classes and deep dive into some algorithms of
            Machine Learning and Data Science.
          </li>
          <li>
            <b>Chess</b>. Besides coding, in my free time I enjoy playing chess.
            It's a hobby I picked up while I was young.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Recent Projects</h3>
        <ul>
          <li>
            <a href="https://www.sneakyelf.com">Sneaky Elf</a>
            is a website I built during the summer of 2020. It is a full
            featured web app built on Flask framework. The goal of this website
            is to help groups or families to play Secret Santa during Christmas.
          </li>
          <li>
            <a href="https://www.twitpy.com">Twitpy</a>
            A simple URL shorterner web-app using Postresql to store original
            link and redirect to it using shorter link.
          </li>
          <li>
            My
            <a href="https://github.com/daniel-le18/NumberGuesser-TF"
              >Number Predictor</a
            >
            using Python's Numpy package and Tensorflow to predict a drawing
            image of numbers.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
